.body {
  width: 100%;
  height: 100vh;

  background: #090821;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}

.ant__modal__body {
  position: relative;
}

.ant__modal__body :global .ant-modal-content {
  background-color: transparent;
}

.container {
  width: 100%;
  height: 100%;
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url('../../public/BG@3x.png');
  background-size: cover;
}

.defaultWrapper {
  display: flex;
  margin-top: 22vh;
  flex-direction: column;
  align-items: center;
}

.centerPopup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.logo {
  width: 80vw;
}

.btn {
  width: 58.66vw;
  height: 16vw;
  border: 0;
  background-color: transparent;
  transform-style: preserve-3d;
  transition: all 75ms cubic-bezier(0, 0, 1, 1);
}
.blueBtn {
  background-image: url('../../public/btn_var2.png');
  background-size: 100% 100%;
}
.oriangeBtn {
  background-image: url('../../public/btn_var1.png');
  background-size: 100% 100%;
}

.artWord {
  font-weight: 900;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  font-family: Helvetica;
  color: #ffffff;
  -webkit-text-stroke: 1px #000000;
  text-shadow: 0px 2px 0px #000000;
}

.btn:active {
  transform: translate(0, 0.375em);
}

.defaultBtn {
  margin-top: 15.4vw;
}

.wrapper {
  padding: 52px 161px;
  height: 100%;
  width: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
}

.balance {
  display: inline-flex;
}

.button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  text-decoration: none;
  transform-style: preserve-3d;
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
  background-color: transparent;
}

.button:active {
  transform: translate(0, 0.375em);
}

.playWrapper {
  position: relative;
  display: inline-block;
  width: 80vw;
  height: 153.8vw;
  background-color: transparent;
  background-image: url('../../public/frame.png');
  background-size: 100% 100%;
}

.background :global .adm-center-popup-wrap {
  max-width: 100vw;
  max-height: 100vh;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background :global .adm-center-popup-body {
  background-color: transparent;
}

.initTip {
  margin-top: 4.2vw;
  color: #ffffff;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-self: center;
}

.initTip img {
  margin-right: 5px;
}

.playContent {
  margin: 44.1vw 13.2vw 8.5vw 13.2vw;
}

.playContent__cutDown {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playContent__cutDown_time {
  width: 15rem;
  height: 15rem;
  background: #ffe100;
  border: 1.5px solid #000000;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;

  border: 1.5px solid #000000;
  text-shadow: 0px 2px 0px #000000;
  font-weight: 900;
  font-size: 96px;
  margin-top: 3.8rem;
  margin-bottom: 3.3rem;
}

.boardWrapper {
  background-image: url('../../public/board_bg.png');
  background-size: 100% 100%;
  width: 54.4vw;
  height: 37.6vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playContent__input {
  margin-top: 4.5vw;
  width: 100%;
  height: 13.3vw;

  background: #ffffff;
  border: 1.5px solid #000000;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 3vw;
  font-weight: 500;
  font-size: 24px;
  color: #ff9903;
}

.background :global .adm-input-element {
  font-size: 24px;
  font-weight: 500;
}

.playContent__btnGroups {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}
.playContent__btn {
  background-image: url('../../public/btn_var3.png');
  background-size: 100% 100%;
  width: 26.6vw;
  height: 8vw;
  color: #fff;
}

.playContent__betBtnGroups {
  margin-top: 8px;
}

.playContent__betBtn {
  width: 56vw;
  height: 13.3vw;
}

.playContent__betBtn p {
  line-height: 24px;
  font-size: 24px;
}

.playContent__betBtn p:last-child {
  font-size: 12px;
  line-height: 14px;
}

.playContent__betBtnGroups .playContent__betBtn:last-child {
  margin-top: 12px;
}

.settingBtnGroups {
  position: absolute;
  top: 10vw;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.settingBtn {
  background-size: 100% 100%;
  width: 10vw;
  height: 10vw;
  margin-left: 2vw;
  background-image: url('../../public/icon_menu.png');
}

.accountBtn {
  height: 10vw;
  width: 46vw;
  margin-left: 2vw;
  background-size: 100% 100%;
  background-image: url('../../public/button_bg.png');
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.balanceBtn {
  height: 10vw;
  width: 35vw;
  margin-left: 2vw;
  background-size: 100% 100%;
  background-image: url('../../public/button_bg.png');
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.buttonText {
  margin-left: 2vw;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 2vw;
  line-height: 2.5vw;
  color: #000000;
  display: block;
  align-items: center;
}

.copyIcon {
  height: 6vw;
  width: 6vw;
  margin-left: 0vw;
  background-size: 100% 100%;
  background-image: url('../../public/copy_button.png');
}

.tokenIcon {
  height: 6vw;
  width: 6vw;
  margin-left: 1vw;
  background-size: 100% 100%;
  background-image: url('../../public/aelf_symbol.png');
}

.cutDownWrapper {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cutDown__bg {
  background-image: url('../../public/circle_ray.png');
  background-size: 100% 100%;
  width: 140vh;
  height: 140vh;
  position: absolute;
  z-index: 0;
  animation: cutDownRote 30s linear infinite;
}

@keyframes cutDownRote {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cutDown {
  background-image: url('../../public/clock.png');
  background-size: 100% 100%;
  width: 219px;
  height: 195px;

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 36px;
  z-index: 1;
}

.cutDown p {
  margin-left: 7vw;
}

.cutDown__tip {
  z-index: 1;
  color: #fff;
  padding-top: 40px;
  /* margin-top: 49px; */
  position: absolute;
  bottom: 24.8vh;
  text-align: center;
  font-size: 16px;
  width: 60.5vw;
}

.bingoContent {
  width: 100%;
  height: 99.4vw;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.bingoTips {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.bingoText {
  margin-top: 9px;
  width: 100%;

  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.bingoText span:first-child {
  font-weight: 500;
  font-size: 16px;
}

.bingoText span:last-child {
  font-weight: 500;
  font-size: 16px;
  border-radius: 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 19px;
  width: 34.5vw;
  height: 7.1vw;
}

.settingContent {
  width: 100%;
  height: 99.4vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.settingContent h1 {
  font-weight: 900;
  font-size: 32px;
}

.settingContent__account__text {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 400;
  width: 100%;

  overflow: hidden;
  word-wrap: break-word;
  word-break: break-all;
  text-align: center;
}

.settingContent__account {
  width: 100%;
  height: 100%;
  margin-top: 7vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.settingBtn__copy {
  width: 14.4vw;
  height: 14.4vw;
  background-image: url('../../public/copy.svg');
  background-size: 100% 100%;
}

.settingBtn__qrcode {
  width: 14.4vw;
  height: 14.4vw;
  background-image: url('../../public/qrcode.png');
  background-size: 100% 100%;
}

.settingContent__balance {
  width: 100%;
  height: 100%;
  margin-top: 7vw;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.settingContent__balance__text {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 400;
  width: 100%;

  overflow: hidden;
  word-wrap: break-word;
  word-break: break-all;
  text-align: center;
}

.settingContent__balance__reload {
  width: 8.8vw;
  height: 8.8vw;
  border: 0;
  background-color: transparent;
  background-image: url('../../public/reload.png');
  background-size: 100% 100%;
  margin-bottom: 5.3vw;
}

.settingContent__logout {
  display: flex;
  align-items: center;
  justify-self: center;
  width: 100%;
  height: 100%;
}

.settingContent__logout__btn {
  width: 56vw;
  height: 13.3vw;
}

.settingContent__logout__btn:first-child {
  margin-bottom: 10px;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000000000000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  text-align: center;
  line-height: 100vh;
}

.settingWrapper {
  height: 100vw;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.settingBg {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.modalClose {
  height: 8vw;
  width: 8vw;
  position: absolute;
  top: -2vw;
  right: -2vw;
  z-index: 100;
}

.closeIcon {
  height: 8vw;
  width: 8vw;
}

.setting__content {
  width: 100%;
  margin-left: 5vw;
  margin-top: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.setting__account__module {
  width: 92%;
  height: 10vw;
  background-size: 100% 100%;
  background-image: url('../../public/account_pc.png');
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.setting__account__module__text {
  margin-left: 12vw;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 2vw;
  line-height: 2.5vw;
  color: #000000;
  display: block;
  align-items: center;
}

.setting__account__module__copy {
  height: 6vw;
  width: 6vw;
  margin-left: 13vw;
  background-size: 100% 100%;
  background-image: url('../../public/copy_button.png');
}

.setting__account__module__qrcode {
  height: 6vw;
  width: 6vw;
  background-size: 100% 100%;
  background-image: url('../../public/qrcode.png');
}

.setting__balance__module {
  width: 100%;
  margin-top: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.setting__balance__row {
  position: relative;
  width: 92%;
  height: 20vw;
  margin-bottom: 5vw;
  background-color: #f7ebb3;
  border-width: 1.5px;
  border-style: solid;
  border-color: #000000;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.setting__balance__token__icon {
  height: 9vw;
  width: 9vw;
  background-size: 100% 100%;
  background-image: url('../../public/aelf_symbol.png');
  margin-left: 3vw;
  margin-right: 2vw;
}

.setting__balance__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.setting__balance__tag__wrapper {
  height: 5vw;
  width: 13vw;
  border-radius: 4px;
  background: #ff9903;
  border: 1.5px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -2vw;
  left: -2vw;
}

.setting__balance__tag__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 10px;
  text-align: center;
  color: #000000;
}

.setting__balance__content__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 5vw;
  line-height: 6vw;
  color: #000000;
  text-align: left;
  margin-bottom: 1vw;
}

.setting__balance__content__subtitle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 3vw;
  line-height: 4vw;
  color: #707070;
  text-align: left;
  margin-bottom: 2vw;
}

.setting__balance__current__wrapper {
  position: relative;
  height: 100%;
  width: 30%;
}
.setting__balance__current__value {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 4vw;
  line-height: 5vw;
  color: #000000;
  text-align: right;
  position: absolute;
  right: 0;
  top: 3vw;
}

.setting__logout {
  height: 12vw;
  width: 35%;
  background-color: #ffd812;
  border-radius: 34.8px;
  border: 1.5px solid #000000;
  position: absolute;
  left: 20%;
  bottom: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.setting__logout__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 6vw;
  line-height: 7vw;
  text-align: center;
}

.setting__lock {
  height: 12vw;
  width: 12.5vw;
  background-size: 100% 100%;
  background-image: url('../../public/lock.png');
  position: absolute;
  right: 25%;
  bottom: 10%;
}

.setting__qrcode__display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.etting__qrcode__address {
  width: 45vw;
  word-wrap: break-word;
  display: block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 3vw;
  line-height: 4vw;
  color: #000000;
}
