.bodyWrapper {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* @media screen and (min-width: 192rem) {
    width: 192rem;
    height: 1080px;
    margin: auto;
  } */
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url('../../public/bg_pc.png');
  background-size: 100% 100%;
  display: flex;
  justify-self: center;
  overflow: auto;
}

.defaultWrapper {
  position: relative;
  display: flex;
  margin-top: 13.7vh;
  flex-direction: column;
  align-items: center;
}

.title__img__wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.test__tag__wrapper {
  height: 5.66rem;
  width: 10.6rem;
  position: absolute;
  top: 9.2rem;
  right: 0;
  background-size: 100% 100%;
  background-image: url('../../public/test_sign.png');
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.test__tag__wrapper__content {
  color: #000000;
  font-size: 2.4rem;
  line-height: 2.7rem;
  margin-bottom: 0.8rem;
}

.logo {
  width: auto;
  height: 36.7rem;
}

.btn {
  width: auto;
  height: 9.25vh;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  transform-style: preserve-3d;
  transition: all 75ms cubic-bezier(0, 0, 1, 1);
}
.blueBtn {
  background-image: url('../../public/btn_var2.png');
  background-size: 100% 100%;
}
.oriangeBtn {
  background-image: url('../../public/btn_var1.png');
  background-size: 100% 100%;
}

.artWord {
  font-weight: 900;
  font-size: 3.2rem;
  line-height: 3.8rem;
  text-align: center;
  font-family: Helvetica;
  color: #ffffff;
  -webkit-text-stroke: 1px #000000;
  text-shadow: 0px 2px 0px #000000;
}

.btn:active {
  transform: translate(0, 0.375em);
}

.defaultBtn__origin {
  margin-top: 8vh;
  width: 39.2rem;
  height: 10rem;
  background-image: url('../../public/btn_pc_var4.png') !important;
  background-size: 100% 100%;
}

.defaultBtn__blue {
  margin-top: 8vh;
  width: 40rem;
  height: 10rem;
  background-image: url('../../public/btn_pc_var3.png') !important;
  background-size: 100% 100%;
}

.initTip {
  width: 36.5rem;
  height: 3rem;
  font-weight: 400;
  font-size: 2.4rem;
  margin-top: 3.6rem;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-self: center;
}

.initTip img {
  width: 3rem;
  height: 3rem;
  margin-right: 1.4rem;
}

.wrapper {
  padding: 52px 161px;
  height: 100%;
  width: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
}

.balance {
  display: inline-flex;
}

.button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  text-decoration: none;
  transform-style: preserve-3d;
  transition: all 175ms cubic-bezier(0, 0, 1, 1);
  background-color: transparent;
}

.button:active {
  transform: translate(0, 0.375em);
}

.settingHeader {
  /* padding: 52px 161px 0 161px; */
  padding-top: 52px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 192rem) {
    padding-top: 0px;
  }
}

.setting__menu {
  width: 10.8rem;
  height: 10rem;
  margin-right: 2rem;
}

.setting__balance {
  display: flex;
  align-items: center;
  padding-left: 12.3rem;

  width: 49.4rem;
  height: 10rem;
  background-image: url('../../public/balance_pc.png');
  background-size: 100% 100%;
}

.setting__balance__content {
  display: flex;
  align-items: center;
  width: 100%;
  padding-right: 3rem;
}

.setting__balance__content div:first-child {
  display: flex;
  align-items: center;
  color: #0a0a0a;
}

.setting__balance__content div:nth-child(2) {
  color: #000000;
  font-weight: 400;
  font-size: 2.4rem;
  margin-left: 2.4rem;
}

.setting__balance__content button {
  margin-left: auto;
  border: 0;
  background-color: transparent;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  background-image: url('../../public/reload.png');
  background-size: 100% 100%;
}

.setting__account {
  display: flex;
  align-items: center;
  padding-left: 12.3rem;
  margin-left: 2.2rem;

  width: 82.1rem;
  height: 10rem;
  background-image: url('../../public/account.png');
  background-size: 100% 100%;
}

.setting__account__content {
  display: flex;
  align-items: center;
  width: 100%;
  padding-right: 3rem;
}

.setting__account__content div:first-child {
  color: #0a0a0a;
  font-weight: 900;
  font-size: 3.2rem;
  /* height: 4rem; */
}

.setting__account__content div:nth-child(2) {
  color: #000000;
  font-weight: 400;
  font-size: 2.4rem;
  margin-left: 2.4rem;
}

.setting__account__content__copy {
  margin-left: auto;
  border: 0;
  background-color: transparent;
  width: 5.4rem;
  height: 5.4rem;
  cursor: pointer;
  background-image: url('../../public/copy.svg');
  background-size: 100% 100%;
}

.setting__account__content__qrcode {
  border: 0;
  background-color: transparent;
  width: 5.4rem;
  height: 5.4rem;
  cursor: pointer;
  background-image: url('../../public/qrcode.png');
  background-size: 100% 100%;
}

.setting__logout {
  cursor: pointer;
  width: 15.4rem;
  height: 6rem;
  background: #ffd812;
  border: 3.5px solid #000000;
  border-radius: 4.35rem;
  font-weight: 900;
  font-size: 3.2rem;
  margin-left: 3.4rem;
  /* margin-left: auto; */
}

.setting__lock {
  margin-left: 1rem;
  width: 6rem;
  height: 6rem;
}

.contentWrapper {
  /* padding-top: 2%; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
}

.content__bg {
  width: 132.2rem;
  height: 80.5rem;
  background-image: url('../../public/frame_pc.png');
  background-size: 100% 100%;
}

.content__wrapper {
  margin-top: 38.1rem;
  margin-left: 13.7rem;
  margin-right: 13.7rem;
  margin-bottom: 7rem;
  height: 34.5rem;

  display: flex;
}

.content__cutDown {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content__cutDown_time {
  width: 24.7rem;
  height: 24.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18rem;
  color: #ffffff;

  border: 2px solid #000000;
  text-shadow: 0px 4px 0px #000000;

  background: #ffe100;
  border: 2px solid #000000;
  border-radius: 1.5rem;

  margin-right: 8.3rem;
}

.content__right {
  flex: 1;
  margin-left: 6.5rem;
}

.content__inputWrapper {
  background: #ffffff;
  border: 3.5px solid #000000;
  border-radius: 2rem;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content__inputWrapper span {
  font-weight: 500;
  font-size: 4rem;
  color: #ff9903;
  margin-right: 2.9rem;
}

.content__input {
  font-weight: 500;
  font-size: 4rem;
  flex: 1;
  margin-left: 4rem;
  margin-right: 2rem;
  color: #000000;
}

.content__right :global .ant-input-number-input {
  height: 4rem;
}

.playContent {
  margin: 44.1vw 13.2vw 8.5vw 13.2vw;
}

.content__input :global .ant-input-number-input {
  height: 6.2rem;
}

.boardWrapper {
  background-image: url('../../public/board_bg.png');
  background-size: 100% 100%;
  width: 54.4vw;
  height: 37.6vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playContent__input {
  margin-top: 4.5vw;
  width: 100%;
  height: 13.3vw;

  background: #ffffff;
  border: 1.5px solid #000000;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  padding: 3vw;
  font-weight: 500;
  font-size: 2.4rem;
  color: #ff9903;
}

.background :global .adm-input-element {
  font-size: 2.4rem;
  font-weight: 500;
}

.playContent__btnGroups {
  margin-top: 1.3rem;
  display: flex;
  justify-content: space-between;
}
.playContent__btn {
  background-image: url('../../public/rectangle_pc.png');
  background-size: 100% 100%;
  width: 22.5rem;
  height: 6rem;
  color: #fff;
  font-size: 2.4rem;
}

.playContent__betBtnGroups {
  margin-top: 4rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.playContent__betBtn {
  /* position: absolute; */
  bottom: 8.2rem;
  width: 22.4rem;
  height: 10rem;
  /* background-image: url('../../public/btn_pc_var1.png');
  background-size: 100% 100%; */
}

.bingoContent__betBtn {
  position: absolute;
  bottom: 8.2rem;
  width: 22.4rem;
  height: 10rem;
  /* background-image: url('../../public/btn_pc_var1.png');
  background-size: 100% 100%; */
  font-weight: 900;
  font-size: 4.8rem;
}

.playContent__betBtnGroups button:first-child {
  margin-right: 3.1rem;
}

.playContent__betBtn p {
  line-height: 4.8rem;
  font-size: 4.8rem;
}

.playContent__betBtn p:last-child {
  font-size: 1.8rem;
  line-height: 1.8rem;
}

.settingBtnGroups {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.settingBtn {
  background-size: 100% 100%;
  width: 13.8vw;
  height: 12.8vw;
}

.settingBtn:nth-child(1) {
  background-image: url('../../public/settingBtn_1.png');
}

.settingBtn:nth-child(2) {
  margin-left: 1rem;
  margin-right: 1rem;
  background-image: url('../../public/settingBtn_2.png');
}

.settingBtn:nth-child(3) {
  background-image: url('../../public/settingBtn_3.png');
}

.cutDownWrapper {
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cutDown__bg {
  background-image: url('../../public/circle_ray.png');
  background-size: 100% 100%;
  width: 200%;
  height: 200%;
  position: absolute;
  z-index: 0;
  animation: cutDownRote 30s linear infinite;
}

@keyframes cutDownRote {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cutDown {
  background-image: url('../../public/clock.png');
  background-size: 100% 100%;
  width: 21.9rem;
  height: 19.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 3.6rem;
  z-index: 1;
}

.cutDown p {
  margin-left: 3.5rem;
}

.cutDown__tip {
  position: absolute;
  bottom: 4.3rem;
  color: #ffffff;
  font-size: 3.6rem;
}

.random {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  /* animation: shark 3s infinite; */
}

.randomNum {
  animation: shark 1s infinite;
}

@keyframes shark {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  20% {
    opacity: 0;
    transform: scale(0.4);
  }
}

.bingoLogo {
  position: absolute;
  z-index: 1;
  left: 33.75rem;
  width: 67.3rem;
  height: 21.7rem;

  background-image: url('../../public/bingo_pc.png');
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bingoContentWrapper {
  position: relative;
  height: 67.1rem;
  width: 132.2rem;
  display: flex;
  margin-top: 13.4rem;
  margin-bottom: 10rem;
}

.bingoContent {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.bingoContent__bg {
  margin-top: 7.45rem;
  width: 132.2rem;
  height: 59.2rem;
  background-image: url('../../public/frame_pc_2.png');
  background-size: 100% 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bingoContent__wrapper {
  margin-left: 13.7rem;
  margin-right: 13.7rem;
  margin-bottom: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contentBingoInit__wrapper {
  margin-top: 38.1rem;
  margin-left: 13.7rem;
  margin-right: 13.7rem;
  margin-bottom: 7rem;
  height: 34.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.initBingoLogo {
  left: 33.75rem;
  width: 67.3rem;
  height: 21.7rem;

  background-image: url('../../public/bingo_pc.png');
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bingoBtn {
  margin-top: 2.6rem;
  width: 22.4rem;
  height: 10rem;
}

.bingoTips {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.bingoText {
  margin-top: 2.8rem;

  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.bingoText span:first-child {
  font-weight: 500;
  font-size: 4rem;
  margin-right: 1.6rem;
}

.bingoText span:last-child {
  font-weight: 500;
  font-size: 4rem;
  border-radius: 1.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1.9rem;
  width: 29.4rem;
  height: 6rem;
}

.settingContent {
  width: 100%;
  height: 99.4vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.settingContent h1 {
  font-weight: 900;
  font-size: 3.2rem;
}

.settingContent__account__text {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  width: 100%;

  overflow: hidden;
  word-wrap: break-word;
  word-break: break-all;
  text-align: center;
}

.settingContent__account {
  width: 100%;
  height: 100%;
  margin-top: 7vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.settingBtn__copy {
  width: 14.4vw;
  height: 14.4vw;
  background-image: url('../../public/copy.svg');
  background-size: 100% 100%;
}

.settingBtn__qrcode {
  width: 14.4vw;
  height: 14.4vw;
  background-image: url('../../public/qrcode.png');
  background-size: 100% 100%;
}

.settingContent__balance {
  width: 100%;
  height: 100%;
  margin-top: 5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.settingContent__balance__text {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 400;
  width: 100%;

  overflow: hidden;
  word-wrap: break-word;
  word-break: break-all;
  text-align: center;
}

.settingContent__logout {
  display: flex;
  align-items: center;
  justify-self: center;
  width: 100%;
  height: 100%;
}

.settingContent__logout__btn {
  width: 56vw;
  height: 13.3vw;
}

.settingContent__logout__btn:first-child {
  margin-bottom: 1rem;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000000000000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  text-align: center;
  line-height: 100vh;
}

.menuPop {
  width: 108.2rem !important;
  height: 59.2rem;
  background-image: url('../../public/frame_pc_1.png');
  background-size: 100% 100%;
}

.menuPop :global .ant-modal-close {
  margin-top: -2.4rem;
}

.menuPop :global .ant-modal-content {
  background: transparent;
  border: 0;
  box-shadow: none;
}

.menuPop__tag {
  position: absolute;
  width: 7.3rem;
  height: 2.8rem;
  left: -1.7rem;
  top: -1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  background: #ff9903;
  border: 3px solid #000000;
  border-radius: 4px;
  font-weight: 500;
  font-size: 1.4rem;
}

.menuPop__wrapper {
  margin: 4rem 4.4rem 4rem 4.4rem;
  overflow: hidden;
}

.menuPop__wrapper_content {
  margin: 3rem 3rem;
  width: 75rem;
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
  width: inherit;
}

.menuPop__wrapper_account {
  width: 75rem;
  margin-left: 0;
}

.menuPop__wrapper_content_textContent {
  width: 75rem;
  background: #f7ebb3;
  border: 3px solid #000000;
  border-radius: 1.6rem;
  height: 8.8rem;
  margin-top: 2.4rem;
  padding: 1.5rem 3.2rem;
  display: flex;
  position: relative;
}

.menuPop__textContent_flex {
  margin-left: 0.8rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.menuPop__textContent_flex_top {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  font-weight: 500;
}
